:root {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 32px;
  padding-right: 70px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  background-color: rgba(0, 0, 0, 0.274);
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  transition: 0.6s;
  color: black;
}
.form input:hover {
  transform: scale(1.05);
}
.form input::placeholder {
  color: rgb(56, 56, 56);
  font-size: 13px;
}
.form-button {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 10px 64px;
  margin-top: 10px;
  font-weight: 700;
  outline: none;
  margin-right: 25px;
  border: 1px solid white;
  transition: 0.6s;
}
.form-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}
.checkbox {
  display: flex;
  flex-direction: row;
}
.confirm {
  background-color: rgba(0, 0, 0, 0.274);
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
